body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-color:rgb(72, 74, 91);


}
div{
  padding: 1em;
  margin: 2px;
  
}


 .buttons{
  margin-top:14em;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  background-color:  whitesmoke;
  justify-content: center;
  
  

}
div#content{
  
  margin-left:3em;
  flex: 1;
  align-items:center;
  justify-content: center;
  
  
  
}

  


#rock, #paper, #scissors{
  
  
  color:red;
  width: 15em;
  min-height: 15em;
  padding:1em;
  flex: 1;
  border-style:solid;
  background-color: blanchedalmond;

  
}


#computer{
  display: flex;
  justify-content:center;
}  
  

p{font-size: 2.5em;}

#score{
padding: -1em;
background-color: blanchedalmond;
  
  
  
  
  
}